.container {
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-flow: column;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.active {
    background-color: aliceblue !important;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 80%;
}
