.container {
    margin: 20px;
}

.content {
    display: flex;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

@media (max-width: 480px) {
    .content {
        display: block;
    }
}