.container
{
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0px;
}

@media (max-width: 480px) {
    .container
    {
        display: flex;
        justify-content: space-around;
    }
}