.logs {
    margin: 5px;
    height: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title
{
    width: 150px;
    /* word-wrap: break-word; */
}

.times {
    display: flex;
    justify-content: space-between;
}